/*
 Theme Name:   Portfolio Expert Child
 Theme URI:    https://wpthemespace.com/product/portfolio-expert
 Description:  Portfolio Expert Child Theme
 Author:       Mango IT Solutions
 Author URI:   https://mangoitsolutions.com/
 Template:     portfolio-expert
 Version:      1.0.0
 Text Domain:  portfolio-expert-child
*/